<div>
  <h2>Welcome to PokedexPlus</h2>
  <hr>
  <p>A site builded for every pokemon coach</p>
  <p>Descrizione...</p>

  <div class="containerCard">
    <a routerLink="generations">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Pokemon</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="pokeball.jpg">
        <mat-card-content>
          <p>
            Choose a pokemon between all generations
          </p>
        </mat-card-content>
      </mat-card>
    </a>
    <a routerLink="series">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Cards</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="cards.jpg">
        <mat-card-content>
          <p>
            Choose a card between all series and sets
          </p>
        </mat-card-content>
      </mat-card>
    </a>
  </div>
</div>