.stat-bar {
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

.title {
    text-align: center;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1px;
    border: none;
    background-color: rgba(0, 0, 0, 0.486) !important;
    border-radius: 10px;
}

.stat-progress {
    height: 100%;
    background-color: #0065ca;
    transition: width 0.3s ease-in-out;
}

img {
    max-width: 500px;
    height: fit-content;
    padding: 10px;
}

.mainInfo {
    display: flex;
    margin-bottom: 2rem;
    gap: 8rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.656);
    padding: 10px;
    border-radius: 10px;
    justify-content: center;

    hr {
        margin: 0px !important;
    }
}

.second {
    display: flex;
    flex-direction: column;
}

.second h2 {
    margin: 0.5rem 0;
    font-size: 1.2rem;
}

.third {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}

.third h2 {
    margin: 0.5rem 0;
    font-size: 1.2rem;
}

h2 span {
    font-weight: bold;
}


.stat-bar+h2 {
    text-align: center;
}

h2+h2 {
    margin-top: 1rem;
}

h2+h2 .stat-progress {
    margin-top: 5px;
}


.name {
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.656);
    border-radius: 10px;
    padding: 20px;

    span {
        font-size: 30px;

    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 20px;
        text-align: center;

        .grid-item {
            text-align: center;
            padding: 10px;
            border-radius: 10px;
            transition: transform 0.2s;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            background-color: rgba(255, 255, 255, 0.656);

            h2 {
                font-size: 1rem;

            }

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}


.percent {
    font-size: 13px !important;
}



span {
    color: #0065ca;
}

button {
    width: 190px !important;
    margin-top: 20px;
}


.evolution {
    margin-bottom: 2rem;
    gap: 8rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.656);
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
}

.evo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.evolution-item {
    width: 170px;
}


.varieties {
    margin-bottom: 2rem;
    gap: 8rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.656);
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;

    .varieties-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
    }
}















/* Stili per i tipi di Pokémon */
.type-normal {
    background-color: #a8a878;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.type-fighting {
    background-color: #c03028;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.type-flying {
    background-color: #a890f0;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.type-poison {
    background-color: #a040a0;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.type-ground {
    background-color: #e0c068;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.type-rock {
    background-color: #b8a038;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.type-bug {
    background-color: #a8b820;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.type-ghost {
    background-color: #705898;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.type-steel {
    background-color: #b8b8d0;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.type-fire {
    background-color: #f08030;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.type-water {
    background-color: #6493eb;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.type-grass {
    background-color: #78c850;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.type-electric {
    background-color: #f8d030;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.type-psychic {
    background-color: #f85888;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.type-ice {
    background-color: #98d8d8;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.type-dragon {
    background-color: #7038f8;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.type-dark {
    background-color: #705848;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.type-fairy {
    background-color: #f0b6e3;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.type-stellar {
    background-color: #6b5b95;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.type-unknown {
    background-color: #8b8b8b;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.chipName{
    color: black;
}