.stat-bar {
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

.title {
    text-align: center;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1px;
    border: none;
    background-color: rgba(0, 0, 0, 0.486) !important;
    border-radius: 10px;
}

.stat-progress {
    height: 100%;
    background-color: #0065ca;
    transition: width 0.3s ease-in-out;
}

img {
    max-width: 500px;
    height: fit-content;
    padding: 10px;
}

.mainInfo {
    display: flex;
    margin-bottom: 2rem;
    gap: 8rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.656);
    padding: 10px;
    border-radius: 10px;
    justify-content: center;

    hr {
        margin: 0px !important;
    }
}

.second {
    display: flex;
    flex-direction: column;
}

.second h2 {
    margin: 0.5rem 0;
    font-size: 1.2rem;
}

.third {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}

.third h2 {
    margin: 0.5rem 0;
    font-size: 1.2rem;
}

h2 span {
    font-weight: bold;
}


.stat-bar+h2 {
    text-align: center;
}

h2+h2 {
    margin-top: 1rem;
}

h2+h2 .stat-progress {
    margin-top: 5px;
}


.name {
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.656);
    border-radius: 10px;
    padding: 20px;

    span {
        font-size: 30px;

    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 20px;
        text-align: center;

        .grid-item {
            text-align: center;
            padding: 10px;
            border-radius: 10px;
            transition: transform 0.2s;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            background-color: rgba(255, 255, 255, 0.656);

            h2 {
                font-size: 1rem;

            }

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}


.percent {
    font-size: 13px !important;
}



span {
    color: #0065ca;
}

button {
    width: 190px !important;
    margin-top: 20px;
}


.evolution {
    margin-bottom: 2rem;
    gap: 8rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.656);
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
}

.evo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.evolution-item {
    width: 170px;
}


.varieties {
    margin-bottom: 2rem;
    gap: 8rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.656);
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;

    .varieties-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
    }
}


p{
    margin: 0;
}












/* Stili per i tipi di Pokémon */
.type-normal {
    background-color: #a8a878 !important;
    padding: 5px !important;
    border-radius: 5px !important;
    color: white !important;
    font-weight: 500 !important;
}

.type-fighting {
    background-color: #c03028 !important;
    padding: 5px !important;
    border-radius: 5px !important;
    color: white !important;
    font-weight: 500 !important;
}

.type-flying {
    background-color: #a890f0 !important;
    padding: 5px !important;
    border-radius: 5px !important;
    color: white !important;
    font-weight: 500 !important;
}

.type-poison {
    background-color: #a040a0 !important;
    padding: 5px !important;
    border-radius: 5px !important;
    color: white !important;
    font-weight: 500 !important;
}

.type-ground {
    background-color: #e0c068 !important;
    padding: 5px !important;
    border-radius: 5px !important;
    color: white !important;
    font-weight: 500 !important;
}

.type-rock {
    background-color: #b8a038 !important;
    padding: 5px !important;
    border-radius: 5px !important;
    color: white !important;
    font-weight: 500 !important;
}

.type-bug {
    background-color: #a8b820 !important;
    padding: 5px !important;
    border-radius: 5px !important;
    color: white !important;
    font-weight: 500 !important;
}

.type-ghost {
    background-color: #705898 !important;
    padding: 5px !important;
    border-radius: 5px !important;
    color: white !important;
    font-weight: 500 !important;
}

.type-steel {
    background-color: #b8b8d0 !important;
    padding: 5px !important;
    border-radius: 5px !important;
    color: white !important;
    font-weight: 500 !important;
}

.type-fire {
    background-color: #f08030 !important;
    padding: 5px !important;
    border-radius: 5px !important;
    color: white !important;
    font-weight: 500 !important;
}

.type-water {
    background-color: #6493eb !important;
    padding: 5px !important;
    border-radius: 5px !important;
    color: white !important;
    font-weight: 500 !important;
}

.type-grass {
    background-color: #78c850 !important;
    padding: 5px !important;
    border-radius: 5px !important;
    color: white !important;
    font-weight: 500 !important;
}

.type-electric {
    background-color: #f8d030 !important;
    padding: 5px !important;
    border-radius: 5px !important;
    color: white !important;
    font-weight: 500 !important;
}

.type-psychic {
    background-color: #f85888 !important;
    padding: 5px !important;
    border-radius: 5px !important;
    color: white !important;
    font-weight: 500 !important;
}

.type-ice {
    background-color: #98d8d8 !important;
    padding: 5px !important;
    border-radius: 5px !important;
    color: white !important;
    font-weight: 500 !important;
}

.type-dragon {
    background-color: #7038f8 !important;
    padding: 5px !important;
    border-radius: 5px !important;
    color: white !important;
    font-weight: 500 !important;
}

.type-dark {
    background-color: #705848 !important;
    padding: 5px !important;
    border-radius: 5px !important;
    color: white !important;
    font-weight: 500 !important;
}

.type-fairy {
    background-color: #f0b6e3 !important;
    padding: 5px !important;
    border-radius: 5px !important;
    color: white !important;
    font-weight: 500 !important;
}

.type-stellar {
    background-color: #6b5b95 !important;
    padding: 5px !important;
    border-radius: 5px !important;
    color: white !important;
}

.type-unknown {
    background-color: #8b8b8b !important;
    padding: 5px !important;
    border-radius: 5px !important;
    color: white !important;
}






.chipName{
    color: white;
}




.movetype-normal {
    background-color: #a8a878 !important;
    padding: 5px !important;
}

.movetype-fighting {
    background-color: #c03028 !important;
    padding: 5px !important;
}

.movetype-flying {
    background-color: #a890f0 !important;
    padding: 5px !important;
}

.movetype-poison {
    background-color: #a040a0 !important;
    padding: 5px !important;
}

.movetype-ground {
    background-color: #e0c068 !important;
    padding: 5px !important;
}

.movetype-rock {
    background-color: #b8a038 !important;
    padding: 5px !important;
}

.movetype-bug {
    background-color: #a8b820 !important;
    padding: 5px !important;
}

.movetype-ghost {
    background-color: #705898 !important;
    padding: 5px !important;
}

.movetype-steel {
    background-color: #b8b8d0 !important;
    padding: 5px !important;
}

.movetype-fire {
    background-color: #f08030 !important;
    padding: 5px !important;
}

.movetype-water {
    background-color: #6493eb !important;
    padding: 5px !important;
}

.movetype-grass {
    background-color: #78c850 !important;
    padding: 5px !important;
}

.movetype-electric {
    background-color: #f8d030 !important;
    padding: 5px !important;
}

.movetype-psychic {
    background-color: #f85888 !important;
    padding: 5px !important;
}

.movetype-ice {
    background-color: #98d8d8 !important;
    padding: 5px !important;
}

.movetype-dragon {
    background-color: #7038f8 !important;
    padding: 5px !important;
}

.movetype-dark {
    background-color: #705848 !important;
    padding: 5px !important;
}

.movetype-fairy {
    background-color: #f0b6e3 !important;
    padding: 5px !important;
}

.movetype-stellar {
    background-color: #6b5b95 !important;
    padding: 5px !important;
}

.movetype-unknown {
    background-color: #8b8b8b !important;
    padding: 5px !important;
}






@media (max-width: 768px) {
    .mainInfo, .evolution, .varieties {
        flex-direction: column;
        gap: 2rem;
        padding: 15px;
        margin-bottom: 1rem;
    }

    .title {
        font-size: 1.2rem;
    }

    img {
        max-width: 100%;
        height: auto;
        padding: 5px;
    }

    .name {
        padding: 15px;

        span {
            font-size: 24px;
        }

        .grid-container {
            grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
            gap: 10px;

            .grid-item {
                padding: 8px;

                h2 {
                    font-size: 0.9rem;
                }
            }
        }
    }

    .mainInfo {
        gap: 3rem;
        padding: 10px;
    }

    .second, .third {
        h2 {
            font-size: 1rem;
        }
    }

    .evo-container, .varieties-container {
        gap: 10px;
    }

    .evolution-item {
        width: 140px;
    }

    .percent {
        font-size: 12px !important;
    }

    button {
        width: 100% !important;
        max-width: 150px;
    }
}


.mat-mdc-chip {
    border: none !important;
    border-radius: 10px !important;
    box-shadow: none !important;
}

.mat-mdc-chip::before {
    display: none !important;
}
