.gen-container {
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
    padding:20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.903);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    width: 70%;
    border-radius: 10px;
    transition: transform 0.2s;

    &:hover {
        transform: scale(1.05);
    }

    .pokemon-container {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        .pokemon-card {
            text-align: center; 
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 300px;
                height: 300px;
                object-fit: contain;
            }
        }
    }

}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1px;
    border: none;
    background-color: rgba(0, 0, 0, 0.486) !important;
    border-radius: 10px;
}


a{
    text-decoration: none;
    color: black;
}

h2{
    text-align: center;
}