div{
    background-color: #0065ca;
    padding: 10px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    
    h1{
        color: rgb(228, 208, 32);
    }
    a{
        text-decoration: none;
        color: white;
        margin-left: 40px ;
    }
    h3{
        font-weight: 400;
    }

    .star:hover{
        text-decoration: underline;
    }
    div{
        gap: 10px;
        margin-left:auto;
        margin-right: 1%;
        a{
            text-decoration: none;
            color: white;
            cursor: pointer;
            h3{
                font-weight: 400;
                padding: 10px;
                border-radius: 5px;
            }

        }

    }

    .logo{
        margin-left: 1%;
    }
}

footer{
    height: 50px;
}

.container{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

}

a:hover, h3:hover{
    text-decoration: underline;
    
}