
hr{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1px;
    border: none;
    background-color: rgba(0, 0, 0, 0.486) !important;
    border-radius: 10px;
}

div{
    .card{
        hr{
            width: 98%;
            height: 1px;
            border: none;
            background-color: rgba(0, 0, 0, 0.13) !important;
        }
        div{
            display: flex;
            margin: 20px;
            align-items: center;
            mat-icon{
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

            }
            h3{
                margin-right: 20px;
                font-weight: 400;
                span{
                    font-weight:bolder;
                    margin-right: 5;
                }
            }
        }
    }
}

.edit{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    margin-right: 20px;
}

mat-icon:hover{
    cursor: pointer;
}