html {
    height: 100%;
    background-color: #f0f0f0; 
  
    &::before {
      content: "";
      position:fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("../public/pokeball.jpg");
      background-size:contain;
      opacity: 0.06; 
      z-index: -1; 
    }
  }
  
  body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 1%;
  }
  

  :root {
    --type-normal: #a8a878bb;
    --type-fighting: #c03028bb;
    --type-flying: #a890f0bb;
    --type-poison: #a040a0bb;
    --type-ground: #e0c068bb;
    --type-rock: #b8a038bb;
    --type-bug: #a8b820bb;
    --type-ghost: #705898bb;
    --type-steel: #b8b8d0bb;
    --type-fire: #f08030bb;
    --type-water: #6493ebbb;
    --type-grass: #78c850bb;
    --type-electric: #f8d030bb;
    --type-psychic: #f85888bb;
    --type-ice: #98d8d8bb;
    --type-dragon: #7038f8bb;
    --type-dark: #705848bb;
    --type-fairy: #f0b6e3bb;
    --type-stellar: #6b5b95bb;
    --type-unknown: #8b8b8bbb;
}