html {
    height: 100%;
    background-color: #f0f0f0; 
  
    &::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("../public/pokeball.jpg");
      background-size:contain;
      background-position: center;
      opacity: 0.06; 
      z-index: -1; 
    }
  }
  
  body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 1%;
  }
  