html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; padding: 1%;}



html{
    background-image: url("../public/wlp.svg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
